<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome, my dear friend...</h1>

  <h2>
    If you're searching for another reality, then you've come to 
    <a href="http://railstutorial.org/">The Right Place</a>
    .
  </h2>

  <%= link_to "Push!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  