<footer class="footer">
  <small>
    Follow this <a href="https://www.youtube.com/user/teamcoco">LINK</a>
   </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>